.card {
  border: 1px solid var(--color-border);
  margin: 10px;
  padding: 10px;
  border-radius: var(--border-radius);
  box-shadow:
    0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  max-width: 680px;
  margin: 20px auto;
}

.card--dark {
  background-color: var(--color-background-dark);
}
