* {
  box-sizing: border-box;
}

:root {
  --color-success: #4CAF50;
  --color-success-darker: #45a049;
  --border-radius: 5px;
  --color-background: #f8f8f8;
  --color-border: #e0e0e0;
  --color-background-dark: #7f7d7d;
  --color-text-dark: #232222;
  --color-text-darker: #191818;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h2 {
  color: rgba(0, 0, 0, 0.8);
  font-weight: 600;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
}
