.search-bar__input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: var(--border-radius);
  border: 1px solid #ccc;
}

.search-bar__button {
  width: 100%;
  margin: 10px auto;
  padding: 10px 20px;
  background-color: var(--color-success);
  color: white;
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.search-bar__button:hover {
  background-color: var(--color-success-darker);
}