header {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.header__back-button {
  position: absolute;
  top: 20px;
  left: 20px;
  border: 0;
  border-radius: 50%;
  background-color: inherit;
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
}

.header__back-button:hover {
  font-weight: 600;
  transition: font-weight 0.3s ease;
}
