.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  header {
    font-size: 40px;
    font-family: "Lucida Sans", "Lucida Sans Regular", Geneva, Verdana, sans-serif;
    color: rgb(3, 87, 99);
    margin: 30px 0;
  }
  header:hover {
    cursor:pointer;
  }