.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
header {
  font-size: 50px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: red;
  margin: 30px 0;
}
header:hover {
  cursor: pointer;
}
