form {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
  }
  input {
    flex: 1 0 140px;
    text-align: center;
    padding: 5px;
    font-size: large;
    border: 1px solid #ac8484;
    font-size: 18px;
  }
  .input-btn:hover {
    cursor: pointer;
    background-color: rgb(172, 240, 35);
    color: #f0f0f0;
  }